.your-look {
  padding: 45px 20px;

  @supports ( padding: clamp(45px, 10vw, 90px) ) {
    padding: clamp(45px, 10vw, 90px) 20px;
  }

  &__container {
    max-width: 1300px;
    margin: 0 auto;

    @supports ( width: min(1300px, 100%) ) {
      width: min(1300px, 100%);
    }
  }

  &__title {
    text-align: center;
    margin: 0 auto 20px;
    font-size: 28px;
    line-height: 1.1em;
    font-weight: 500;

    @supports ( margin: clamp(20px, 5vw, 45px) ) {
      margin: 0 auto clamp(20px, 5vw, 45px);
      font-size: clamp(28px, 5vw, 39px);
    }
  }

  &__list {
    display: grid;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    @media (min-width: $screen-sm) {
      gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    margin: 0;
    padding: 0;
  }
}
