.promo {
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
    min-height: 540px;
    padding: 45px 20px 60px;

    @include media-min-xs {
      justify-content: center;
    }

    @include media-min-xl {
      min-height: 660px;
    }
  }

  &__container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.1em;
    margin-top: 0;
    margin-bottom: 1.5rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    color: #fff;

    @include media-min-xs {
      font-size: ms(2);
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-min-xs {
      flex-direction: row;
    }
  }

  &__btn {

    &--primary {
      order: 2;

      @include media-min-xs {
        order: 1;
        margin-right: 0.5rem;
      }
    }

    &--secondary {
      order: 1;
      margin-bottom: 0.5rem;

      @include media-min-xs {
        margin-bottom: 0;
        order: 2;
      }
    }
  }

  &__cover {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__cover-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
