mixin slider-nav(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' slider-nav--' + modsList[i].trim();
      }
    }

  .slider-nav(class=allMods)&attributes(attributes)
    button.slider-nav__btn.slider-nav__btn--prev
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 7 12', width='7', height='12')
        path(fill='#16181d', fill-rule='evenodd', d='M5.59794 6L0 .667759.701032 0 7 6 .701032 12 0 11.3322 5.59794 6z', clip-rule='evenodd')
    button.slider-nav__btn.slider-nav__btn--next
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 7 12', width='7', height='12')
        path(fill='#16181d', fill-rule='evenodd', d='M5.59794 6L0 .667759.701032 0 7 6 .701032 12 0 11.3322 5.59794 6z', clip-rule='evenodd')
