.slider-nav {

  &__btn {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0;
    border: 1px solid #d9d9d9;
    padding: 0;
    overflow: hidden;
    border-radius: 50px;
    background-color: transparent;
    transition: border 250ms $transition-timing;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50px;
      background-color: $primary-color;
      transition: 250ms $transition-timing;
      opacity: 0;
    }

    svg {
      display: block;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    &:hover,
    &:focus {
      outline: none;
      border: 1px solid $primary-color;

      svg {
        stroke: #fff;
      }

      &::before {
        opacity: 1;
      }
    }

    &:active {
      transform: scale(0.975);
    }

    &--prev {
      margin-right: 10px;

      svg {
        transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 180deg);
      }
    }
  }
}
