.breadcrumbs {
  list-style: none;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  @include media-max-sm {
    display: none;
  }

  a {
    color: currentColor;
    text-decoration: none;
    opacity: 0.5;

    &:hover,
    &:focus {
      color: currentColor;
      text-decoration: none;
      opacity: 1;
    }
  }

  &__item {
    display: inline-block;
    margin: 0;
    margin-right: 0.5rem;
    padding: 0;
    white-space: nowrap;
    font-size: ms(-1);
    line-height: 1.4em;


    &:not(:last-child) {

      &::after {
        content: '/';
        display: inline-block;
        margin-left: 0.5rem;
        opacity: 0.5;
      }
    }
  }
}
