.page-header {
  padding: 15px 20px;

  @include media-min-md {
    padding: 30px 20px;
  }

  &__container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
  }

  &__burger {
    margin-right: 30px;
  }

  &__socials {
    margin-right: auto;

    a {
      display: inline-block;
      vertical-align: middle;
      color: $text-color;
    }
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

    @include media-min-md {

      .logo img {
        width: 80px;
        height: 80px;
      }
    }
  }

  &__phone-number {
    font-size: 12px;
    line-height: 1.4em;
    font-weight: 500;
    display: inline-block;
    color: $text-color;
    text-decoration: none;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: currentColor;
      height: 1px;
      transform: scaleX(0);
      transition: transform 0.5s $transition-timing;
      transform-origin: center right;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: currentColor;

      &::after {
        transform: scaleX(1);
        transform-origin: center left;
      }
    }

    @include media-min-xs {
      font-size: ms(-1);
    }
  }

  &__sign-up-btn {
    display: none;
    margin-left: 30px;

    @include media-min-md {
      display: block;
    }
  }
}
