mixin page-header(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-header--' + modsList[i].trim();
      }
    }

  header.page-header(class=allMods)&attributes(attributes)
    .page-header__container
      .page-header__burger
        +burger
      .page-header__socials
        a(href='/')
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 16', width='16', height='16')
            path(d='M8 1.44578h3.2771c.7711 0 1.1566.19277 1.4458.28916.3855.19277.6747.28916.9638.57831.2892.28916.482.57832.5784.96386.0963.28916.1927.6747.2891 1.44578V11.2771c0 .7711-.1928 1.1566-.2891 1.4458-.1928.3855-.2892.6747-.5784.9638-.2891.2892-.5783.482-.9638.5784-.2892.0963-.6747.1927-1.4458.2891H4.72289c-.77108 0-1.15662-.1928-1.44578-.2891-.38554-.1928-.6747-.2892-.96386-.5784-.28915-.2891-.48192-.5783-.57831-.9638-.09639-.2892-.19277-.6747-.28916-1.4458V8 4.72289c0-.77108.19277-1.15662.28916-1.44578.19277-.38554.28916-.6747.57831-.96386.28916-.28915.57832-.48192.96386-.57831.28916-.09639.6747-.19277 1.44578-.28916H8zM8 0H4.72289c-.86747 0-1.44578.192772-1.92771.385543-.48193.192771-.96385.481928-1.44578.963857-.481929.48193-.674701.86747-.963857 1.44578C.192772 3.27711.0963856 3.85542 0 4.72289V11.2771c0 .8675.192772 1.4458.385543 1.9277.192771.4819.481928.9639.963857 1.4458.48193.4819.86747.6747 1.44578.9639.48193.1927 1.06024.2891 1.92771.3855H11.2771c.8675 0 1.4458-.1928 1.9277-.3855.4819-.1928.9639-.482 1.4458-.9639s.6747-.8675.9639-1.4458c.1927-.4819.2891-1.0602.3855-1.9277V8 4.72289c0-.86747-.1928-1.44578-.3855-1.92771-.1928-.48193-.482-.96385-.9639-1.44578-.4819-.481929-.8675-.674701-1.4458-.963857C12.7229.192772 12.1446.0963856 11.2771 0H8z')
            path(d='M8 3.85542C5.68675 3.85542 3.85542 5.68675 3.85542 8c0 2.3133 1.83133 4.1446 4.14458 4.1446 2.3133 0 4.1446-1.8313 4.1446-4.1446 0-2.31325-1.8313-4.14458-4.1446-4.14458zm0 6.84338c-1.44578 0-2.69879-1.15663-2.69879-2.6988 0-1.44578 1.15662-2.69879 2.69879-2.69879 1.44578 0 2.6988 1.15662 2.6988 2.69879 0 1.44578-1.25302 2.6988-2.6988 2.6988zM12.241 4.72289c.5323 0 .9638-.43153.9638-.96385 0-.53233-.4315-.96386-.9638-.96386-.5324 0-.9639.43153-.9639.96386 0 .53232.4315.96385.9639.96385z')
      .page-header__logo
        +logo('/')
          img(src='img/logo.jpg', alt='', width='40', height='40')
      a.page-header__phone-number(href='tel:+74953424112') +7 (495) 342-41-12
      +btn('Записаться на примерку', 'ghost').page-header__sign-up-btn(href='#sign-up-modal', data-fancybox='')