.categories {
  padding: 20px;

  @include media-min-sm {
    padding: 45px 20px;
  }

  @include media-min-xl {
    padding: 90px 20px;
  }

  &__container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;

    @include media-min-sm {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      grid-gap: 20px;
    }
  }

  &__item {
    display: block;
    color: $text-color;
    text-decoration: none;

    &:hover,
    &:focus {

      .categories__figure {
        background-color: $primary-color;
      }

      .categories__figure-icon svg {
        fill: #fff;
      }

      .categories__figure-caption {
        color: #fff;
      }
    }
  }

  &__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: 1px solid $primary-color;
    padding: 30px 20px;
    transition: 250ms $transition-timing;

    @include media-min-xs {
      padding: 30px;
    }
  }

  &__figure-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-bottom: 15px;

    svg {
      display: block;
      transition: 250ms $transition-timing;
      fill: $primary-color;
    }
  }

  &__figure-caption {
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 600;
    transition: 250ms $transition-timing;
    text-align: center;
  }
}
