.btn {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin: 0;
  border: none;
  padding: 15px 30px;
  overflow: hidden;
  background-color: $primary-color;
  background-image: none;
  color: #fff;
  border-radius: 0;
  font-family: $font--sans;
  font-size: ms(-1);
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 1.45em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap;
  transition: 250ms $transition-timing;

  &:hover,
  &:focus {
    background-color: darken($primary-color, 10%);
    color: #fff;
  }

  @include media-max-xs {
    width: 100%;
  }

  &--bg-light {
    background-color: #fff;
    color: $text-color;

    &:hover,
    &:focus {
      background-color: $primary-color;
      color: #fff;
    }
  }

  &--ghost {
    background-color: transparent;
    border: 1px solid $primary-color;
    color: $text-color;

    &:hover,
    &:focus {
      background-color: $primary-color;
      color: #fff;
    }
  }
}
