.seo {
  padding: 45px 20px;
  background-color: $bg-color--shade;

  @include media-min-sm {
    padding: 90px 20px;
  }

  &__container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
  }

  &__title {
    align-self: center;
    grid-area: title;
    font-size: ms(1);
    line-height: 1.1em;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 500;


    @include media-min-sm {
      font-size: ms(2);
      margin-bottom: 30px;
    }
  }

  &__text {

    font-size: 16px;
    line-height: 1.5em;

    @include media-min-sm {
      font-size: 18px;
    }
  }
}
