.category {
  padding: 45px 20px;

  @include media-min-sm {
    padding: 45px 20px 90px;
  }

  &__container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.1em;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 500;


    @include media-min-sm {
      font-size: ms(2);
      margin-bottom: 45px;
    }
  }

  &__list {

    @include media-min-sm {
      display: grid;
      gap: 20px;
      grid-template:
        'first second third'
        'first fifth third'
        'fourth fifth sixth' / 2fr 1fr 1fr;
    }
  }

  &__item {
    display: block;

    @include media-max-sm {

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &:hover,
    &:focus {

      .category__figure-cover img {
        transform: scale(1.05);
      }
    }

    &--first {
      grid-area: first;
    }

    &--second {
      grid-area: second;
    }

    &--third {
      grid-area: third;
    }

    &--fourth {
      grid-area: fourth;
    }

    &--fifth {
      grid-area: fifth;
    }

    &--sixth {
      grid-area: sixth;
    }
  }

  &__figure {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  &__figure-cover {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.25);
    }

    @include media-max-sm {

      &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: (9 / 16) * 100%;
      }
    }

    img {
      display: block;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      transition: 250ms $transition-timing;
      object-fit: cover;

      @include media-max-sm {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &__figure-caption {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 0 20px;
    transform: translate3d(-50%, -50%, 0);
    font-weight: 500;
    font-size: ms(0);
    line-height: 1.2em;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.1em;
    text-align: center;
    word-break: keep-all;

    @include media-min-md {
      font-size: ms(1);
    }
  }
}
