include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/btn/btn.pug
include ../blocks/burger/burger.pug
include ../blocks/logo/logo.pug
include ../blocks/look-card/look-card.pug
include ../blocks/menu/menu.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/page-header/page-header.pug
include ../blocks/product-card/product-card.pug
include ../blocks/sign-up-modal/sign-up-modal.pug
include ../blocks/slider-nav/slider-nav.pug
include ../blocks/slider-progressbar/slider-progressbar.pug
