.new-items {
  padding: 45px 20px;
  overflow: hidden;
  background-color: $bg-color--shade;

  @include media-min-sm {
    padding: 90px 20px;
  }

  &__container {
    display: grid;
    grid-template:
      'title slider-nav'
      'slider slider'
      'slider-progressbar slider-progressbar' / 1fr auto;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    gap: 20px;

    @include media-min-sm {
      grid-template:
        'title slider-nav'
        'slider slider'
        'slider-progressbar slider-progressbar' / 1fr auto;
      gap: 1.5rem 20px;
    }
  }

  &__title {
    align-self: center;
    grid-area: title;
    margin: 0;
    font-size: ms(1);
    line-height: 1.1em;
    font-weight: 500;

    @include media-min-sm {
      font-size: ms(2);
    }
  }

  &__slider-nav {
    align-self: center;
    grid-area: slider-nav;
  }

  &__slider {
    grid-area: slider;
    width: 100%;

    .swiper-container {
      overflow: visible;
    }
  }

  &__slider-progressbar {
    grid-area: slider-progressbar;

    @include media-min-sm {
      margin-top: 1rem;
    }
  }
}
