extends ../pug/layout.pug

block meta
  - var title = 'Category';
  title= title
  meta(name='description', content='')

block content
  section.category
    .category__container
      +breadcrumbs
        +breadcrumbs-item('Главная', '/')
        +breadcrumbs-item('Свадебные платья')
      h1.category__title Свадебные платья
      .category__list

        mixin category-item(props, mods)

          -
            var allMods = '';
            if (typeof(mods) !== 'undefined' && mods) {
              var modsList = mods.split(',');
              for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + ' category__item--' + modsList[i].trim();
              }
            }

          a.category__item(href='/', class=allMods)&attributes(attributes)
            figure.category__figure
              span.category__figure-cover
                img(src=props.cover, alt='')
              figcaption.category__figure-caption!= props.caption

        +category-item({
          cover: 'img/category-cover-1.jpg',
          caption: 'Пышные платья',
        }, 'first')
        +category-item({
          cover: 'img/category-cover-2.jpg',
          caption: 'Платья рыбки',
        }, 'second')
        +category-item({
          cover: 'img/category-cover-3.jpg',
          caption: 'Короткие платья',
        }, 'third')
        +category-item({
          cover: 'img/category-cover-4.jpg',
          caption: 'Прямые платья',
        }, 'fourth')
        +category-item({
          cover: 'img/category-cover-5.jpg',
          caption: 'Ампир',
        }, 'fifth')
        +category-item({
          cover: 'img/category-cover-6.jpg',
          caption: 'А-силуэт',
        }, 'sixth')
