extends ../pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block content
  section.promo
    .promo__content
      .promo__container
        h1.promo__title Almost before we knew it, we had left the ground
        .promo__actions
          +btn('Записаться на примерку').promo__btn.promo__btn--primary(href='#sign-up-modal', data-fancybox='')
          +btn('Перейти в каталог', 'bg-light').promo__btn.promo__btn--secondary
    .promo__cover
      .promo__cover-wrap
        img(src='img/promo-cover.jpg', alt='', width='320', height='540')

  .categories
    .categories__container
      .categories__list

        mixin category
          a.categories__item(href='/')
            figure.categories__figure
              span.categories__figure-icon
                svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 56', width='16', height='56')
                  path(d='M15.1028 23.1789c-.1093-6.0335-1.1502-8.0694-2.0072-9.5907.8339-2.625 1.2193-7.24588 1.2193-7.29735v-.3031l-.6384-.50327c-.0978-.08007-.2071-.13726-.3106-.20588L15.2121 0h-3.1747l-1.248 4.39788c-.97037-.06121-1.93857.14878-2.79515.6062-.77729-.4151-1.64838-.62574-2.53055-.61192L4.21567 0H1.03523l1.76563 5.14706c-.15662.09108-.30828.19035-.45435.29738l-.74191.5719.04026.38889c.19384 2.43278.60183 4.84397 1.21927 7.20587-.83969 1.4526-1.897918 3.5686-2.007192 9.5907C.747665 29.3382.00575126 51.4306 0 51.6536v.4003l2.87563 1.1438-.05176 1.018 4.48023.6405L7.25234 56l5.94676-1.7157.0576-1.1095L16 52.1454v-.4117c-.0173-.2174-.7879-22.4183-.8972-28.5548zm-2.197-22.03511h.6959L12.371 4.72958c-.1438-.05719-.2934-.09151-.4429-.13726l.9777-3.44853zm-10.26022 0h.6959l.95471 3.37418c-.14953.03432-.29906.08007-.4486.13154L2.64558 1.14379zm.16679 5.3701l.23005-.17729c.6618-.49621 1.45997-.78009 2.28813-.8138.82816-.03372 1.64699.18432 2.34738.62508l.30482.19444.35657-.21732c.70938-.4328 1.53509-.63906 2.36598-.59101.8308.04806 1.6269.34813 2.281.8598l.1553.1201c-.1933 2.2605-.578 4.50071-1.1502 6.69691-2.61874.832-5.43307.832-8.05179 0-.56312-2.1971-.94018-4.43723-1.12724-6.69691zM13.2739 51.9281l-.2243-21.8864h-1.1502l.2358 22.6871-.0346.6462-3.62324 1.0294V41.4281H7.3271v12.2443l-3.32422-.4747v-.8064l.41984-27.0964H3.27247l-.39684 26.6332-1.72538-.6748c.10352-3.0425.74767-22.384.84544-28.0687.09777-5.4844.96046-7.4346 1.72537-8.8529 1.4031.4289 2.86281.6467 4.3307.6462 1.40039.0044 2.79244-.2138 4.12364-.6462.7822 1.3897 1.6449 3.3685 1.7254 8.8529.0978 5.6847.7649 25.0948.8742 28.1716l-1.5011.5719z')
              figcaption.categories__figure-caption Свадебные

        +category
        +category
        +category
        +category
        +category
        +category
        +category
        +category

  section.new-items
    .new-items__container
      h2.new-items__title Новинки
      +slider-nav().new-items__slider-nav
      .new-items__slider
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              +product-card({
                cover: 'img/product-cover-1.jpg'
              })
            .swiper-slide
              +product-card({
                cover: 'img/product-cover-2.jpg'
              })
            .swiper-slide
              +product-card({
                cover: 'img/product-cover-3.jpg'
              })
            .swiper-slide
              +product-card({
                cover: 'img/product-cover-1.jpg'
              })
            .swiper-slide
              +product-card({
                cover: 'img/product-cover-2.jpg'
              })
            .swiper-slide
              +product-card({
                cover: 'img/product-cover-3.jpg'
              })
      +slider-progressbar().new-items__slider-progressbar

  section.special-offers
    .special-offers__container
      h2.special-offers__title Акции
      +slider-nav().special-offers__slider-nav
      .special-offers__slider
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              +product-card({
                cover: 'img/product-cover-1.jpg'
              })
            .swiper-slide
              +product-card({
                cover: 'img/product-cover-2.jpg'
              })
            .swiper-slide
              +product-card({
                cover: 'img/product-cover-3.jpg'
              })
            .swiper-slide
              +product-card({
                cover: 'img/product-cover-1.jpg'
              })
            .swiper-slide
              +product-card({
                cover: 'img/product-cover-2.jpg'
              })
            .swiper-slide
              +product-card({
                cover: 'img/product-cover-3.jpg'
              })
      +slider-progressbar().special-offers__slider-progressbar