
extends ../pug/layout.pug

block meta
  - var title = 'Product List';
  title= title
  meta(name='description', content='')

block content
  section.product-list
    .product-list__container
      +breadcrumbs
        +breadcrumbs-item('Главная', '/')
        +breadcrumbs-item('Свадебные платья', '/')
        +breadcrumbs-item('Пышные платья')
      h1.product-list__title Пышные платья
      .product-list__grid
        +product-card({ cover: 'img/product-cover-1.jpg' })
        +product-card({ cover: 'img/product-cover-2.jpg' })
        +product-card({ cover: 'img/product-cover-3.jpg' })
        +product-card({ cover: 'img/product-cover-1.jpg' })
        +product-card({ cover: 'img/product-cover-2.jpg' })

  section.seo
    .seo__container
      h2.seo__title Заголовок
      .seo__text
        p Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.