
extends ../pug/layout.pug

block meta
  - var title = 'Product';
  title= title
  meta(name='description', content='')

block content
  section.product
    .product__container
      +breadcrumbs
        +breadcrumbs-item('Главная', '/')
        +breadcrumbs-item('Свадебные платья', '/')
        +breadcrumbs-item('Короткие', '/')
        +breadcrumbs-item('Санто Стефано')
      .product__card

        .product__slider

          .product__slider-thumbs
            .swiper-container.gallery-thumbs
              .swiper-wrapper
                .swiper-slide
                  .product__slider-thumb
                    img(src='https://images.unsplash.com/photo-1519379169146-d4b170447caa?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80', alt='', width='320', height='375')
                .swiper-slide
                  .product__slider-thumb
                    img(src='https://images.unsplash.com/photo-1597861405049-0b011428568f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80', alt='', width='320', height='375')
                .swiper-slide
                  .product__slider-thumb
                    img(src='https://images.unsplash.com/photo-1475714622877-641e013c6096?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1646&q=80', alt='', width='320', height='375')
                .swiper-slide
                  .product__slider-thumb
                    img(src='https://images.unsplash.com/photo-1568891806972-a5c2a08940bd?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80', alt='', width='320', height='375')

          .product__slider-current
            .swiper-container.gallery-top
              .swiper-wrapper
                .swiper-slide
                  .product__slider-current-image
                    img(src='https://images.unsplash.com/photo-1519379169146-d4b170447caa?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80', alt='', width='320', height='375')
                .swiper-slide
                  .product__slider-current-image
                    img(src='https://images.unsplash.com/photo-1597861405049-0b011428568f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80', alt='', width='320', height='375')
                .swiper-slide
                  .product__slider-current-image
                    img(src='https://images.unsplash.com/photo-1475714622877-641e013c6096?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1646&q=80', alt='', width='320', height='375')
                .swiper-slide
                  .product__slider-current-image
                    img(src='https://images.unsplash.com/photo-1568891806972-a5c2a08940bd?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80', alt='', width='320', height='375')
          +slider-progressbar().product__slider-progressbar
        .product__info
          span.product__category-name Короткое платье
          h1.product__title Санто Стефано
          .product__cost
            .product__current-price 120 000 руб.
            a.product__get-discount(href='/')
              svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 16', width='16', height='16')
                path(fill-rule='evenodd', d='M8.94008 1.38792C8.41841.868608 7.57387.870698 7.05413 1.3928l-.58355.58436-.0015.0015c-.4374.4343-1.02862.67792-1.64396.67792h-.83436c-.73563 0-1.3333.59737-1.3333 1.33411v.83273c0 .61753-.24482 1.20778-.67872 1.64477l-.00101.00101-.58974.59055c-.519274.52163-.517185 1.36602.0055 1.88575l.00125.00124.58299.58381c.43501.43604.67973 1.02865.67973 1.64415v.8344c0 .7364.59738 1.3333 1.3333 1.3333h.83436c.61591 0 1.20696.2448 1.64396.6787l.00126.0012.58928.5893c.52272.5198 1.3671.5171 1.88576-.0051l.00144-.0014.5838-.583c.43652-.4345 1.02848-.6797 1.64498-.6797h.8335c.7369 0 1.3342-.597 1.3342-1.3333v-.8344c0-.6149.2433-1.20753.6787-1.64398l.5905-.59052c.5194-.52234.5168-1.36622-.0055-1.88615l-.0008-.0008-.5838-.5838-.0012-.00126c-.4343-.43739-.6779-1.02781-.6779-1.64477v-.83273c0-.73659-.5976-1.33411-1.3342-1.33411h-.8335c-.6159 0-1.20746-.24348-1.64438-.67833l-.57461-.57461c-.00563-.00511-.01114-.01036-.01653-.01572zM1.65746 3.99069c0-1.28873 1.04509-2.33411 2.3333-2.33411h.83436c.35085 0 .68856-.13885.93868-.38685.00023-.00023-.00023.00022 0 0l.58162-.582429c.00012-.000118-.00012.000117 0 0 .90553-.90926 2.37556-.91731 3.28973-.018405.00633.005709.01251.011578.01853.017603l.58292.582971c.0002.00015-.0001-.00016 0 0 .249.24757.587.38711.939.38711h.8335c1.2889 0 2.3342 1.04523 2.3342 2.33411v.83273c0 .35256.1389.68953.387.93968.0001.00016-.0002-.00017 0 0l.5822.58225c.0001.00007 0-.00008 0 0 .9127.90878.9183 2.38557.0091 3.29996l-.001.00102-.5907.59067c-.2473.2479-.3866.5861-.3866.9377v.8344c0 1.2891-1.0456 2.3333-2.3342 2.3333h-.8335c-.3515 0-.6892.1395-.9387.3876-.0001.0001.0001-.0001 0 0l-.58202.5812c-.00029.0003-.00059.0006-.00088.0009-.90849.9138-2.38569.9173-3.29948.0086l-.001-.001-.58904-.589c-.00018-.0002.00019.0002 0 0-.25054-.2485-.58902-.3883-.93936-.3883h-.83436c-1.28792 0-2.3333-1.0443-2.3333-2.3333v-.8344c0-.351-.13972-.6892-.38733-.9375-.00006-.0001.00006 0 0 0l-.581744-.58259c-.000239-.00024-.000477-.00048-.000715-.00072-.913407-.90902-.917565-2.38634-.008384-3.29965l.589833-.59064c.00015-.00015-.00014.00015 0 0 .24855-.25055.38834-.58816.38834-.94018v-.83273z', clip-rule='evenodd')
                path(fill-rule='evenodd', d='M10.4366 5.56185c.1953.19526.1953.51184 0 .7071L6.2689 10.4367c-.19526.1952-.51185.1952-.70711 0-.19526-.1953-.19526-.51189 0-.70715l4.16771-4.1677c.19526-.19527.5118-.19527.7071 0z', clip-rule='evenodd')
                path(d='M10.0803 10.6936c-.16217 0-.31623-.0649-.42975-.1784-.05676-.0568-.0973-.1298-.12973-.2027-.03244-.073-.04865-.1452-.04865-.2271 0-.0811.01621-.16214.04865-.23511.03243-.07298.07297-.13784.12973-.1946.22704-.22704.63245-.22704.85945 0 .0568.05676.1054.12162.1379.1946.0243.07297.0405.15401.0405.23511 0 .0819-.0162.1541-.0405.2271-.0325.0729-.0811.1459-.1379.2027-.1135.1135-.2675.1784-.4297.1784zM5.91373 6.52617c-.08108 0-.15406-.01703-.22703-.04946-.07298-.03243-.14595-.07216-.20271-.12892-.05676-.06487-.0973-.12974-.12974-.20271-.03243-.07379-.04865-.14595-.04865-.22704 0-.08189.01622-.16216.04865-.23514.03244-.07297.07298-.14595.12974-.1946.23514-.22785.63245-.22785.85948 0 .11352.11271.17839.26758.17839.42974 0 .08109-.00811.15325-.04054.22704-.03244.07297-.08109.13784-.13785.20271-.05675.05676-.12162.09649-.1946.12892-.07297.03243-.15406.04946-.23514.04946z')
              | Получить скидку
          ul.product__info-list
            li Zombie ipsum reversus ab viral inferno
            li Nam rick grimes malum cerebro
            li De carne lumbering animata corpora quaeritis
            li Summus brains sit​​, morbo vel maleficia
            li De apocalypsi gorger omero undead survivor dictum mauris
          .product__actions
            button.btn.product__sign-up(href='#sign-up-modal', data-fancybox='')
              span Записаться на примерку
              svg(xmlns='http://www.w3.org/2000/svg', fill='transparent', viewbox='0 0 16 16', width='16', height='16')
                path(stroke='#fff', stroke-linecap='round', stroke-linejoin='round', d='M1.07205 6.18298H14.9351m-3.4802 2.73381h.0073m-3.45861 0h.0072m-3.46576 0h.0072m6.90267 2.72061h.0073m-3.45861 0h.0072m-3.46576 0h.0072M11.1451 1v2.30355M4.86206 1v2.30355m6.43434-1.19811H4.71075C2.42666 2.10544 1 3.25059 1 5.35556v6.33474C1 13.8284 2.42666 15 4.71075 15h6.57845C13.5805 15 15 13.8482 15 11.7433V5.35556c.0072-2.10497-1.4123-3.25012-3.7036-3.25012z')
            span.product__action-note Товар можно приобрести в рассрочку.

  section.also-buy
    .also-buy__container
      h2.also-buy__title Акции
      +slider-nav().also-buy__slider-nav
      .also-buy__slider
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              +product-card({
                cover: 'img/product-cover-1.jpg'
              })
            .swiper-slide
              +product-card({
                cover: 'img/product-cover-2.jpg'
              })
            .swiper-slide
              +product-card({
                cover: 'img/product-cover-3.jpg'
              })
            .swiper-slide
              +product-card({
                cover: 'img/product-cover-1.jpg'
              })
            .swiper-slide
              +product-card({
                cover: 'img/product-cover-2.jpg'
              })
            .swiper-slide
              +product-card({
                cover: 'img/product-cover-3.jpg'
              })
      +slider-progressbar().also-buy__slider-progressbar