extends ../pug/layout.pug

block meta
  - var title = 'Look';
  title= title
  meta(name='description', content='')

block header

block content
  section.your-look
    .your-look__container
      h2.your-look__title Подберем образ твоей мечты
      ul.your-look__list
        li.your-look__item
          +look-card({
            image: 'img/wedding-dresses.jpg',
            title: 'Свадебные<br>платья'
          })
        li.your-look__item
          +look-card({
            image: 'img/evening-dresses.jpg',
            title: 'Вечерние<br>платья'
          })
        li.your-look__item
          +look-card({
            image: 'img/boudoir-dress.jpg',
            title: 'Будуарные<br>платья'
          })
        li.your-look__item
          +look-card({
            image: 'img/veil.jpg',
            title: 'Фата'
          })
        li.your-look__item
          +look-card({
            image: 'img/accessories.jpg',
            title: 'Украшения'
          })
        li.your-look__item
          +look-card({
            image: 'img/shoes.jpg',
            title: 'Туфли'
          })

block footer