.product-card {
  color: $text-color;

  &__cover {
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 15px;

    &:hover,
    &:focus {

      img {
        transform: scale(1.05);
      }
    }

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-top: (4 / 3) * 100%;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 250ms $transition-timing;
      object-fit: cover;
    }
  }

  &__label {
    font-size: ms(-1);
    display: block;
    opacity: 0.5;
    font-weight: 500;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 500;
  }

  &__price {
    font-weight: 500;
    font-size: ms(0);
    line-height: 1.2em;
    display: block;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -10px;
      left: 0;
      width: 60px;
      height: 1px;
      background-color: $text-color;
    }
  }
}
