mixin product-card(props)

  .product-card
    a.product-card__cover(href='/')
      img(src=props.cover, alt='')
    span.product-card__label Nam rick
    h3.product-card__title De apocalypsi gorger omero undead survivor dictum mauris
    span.product-card__price 120 000 руб.