mixin page-footer(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-footer--' + modsList[i].trim();
      }
    }

  footer.page-footer(class=allMods)&attributes(attributes)
    .page-footer__container
      .page-footer__top
        .page-footer__logo
          +logo('/')
            img(src='img/logo.jpg', alt='', width='80', height='80')
        .page-footer__block.page-footer__block--catalog
          h3.page-footer__subtitle Каталог
          ul.page-footer__list
            li
              a(href='/') Свадебные платья
            li
              a(href='/') Вечерние платья
            li
              a(href='/') Детские платья
            li
              a(href='/') Туфли
            li
              a(href='/') Аксессуары
        .page-footer__block.page-footer__block--contacts
          h3.page-footer__subtitle Контакты
          ul.page-footer__list
            li
              address Москва, ул. Маркситская 38
            li
              a(href='mailto:tiffanybride@mail.ru') tiffanybride@mail.ru
            li
              a(href='tel:+79167205522') +7 (916) 720-55-22
        .page-footer__block.page-footer__block--socials
          h3.page-footer__subtitle Соц. сети
          ul.page-footer__list
            li
              a(href='/', target='_blank', rel='noopener') Instagram
            li
              a(href='/', target='_blank', rel='noopener') WhatsApp
        .page-footer__actions
          +btn('Записаться на примерку', 'ghost')(href='#sign-up-modal', data-fancybox='')
      .page-footer__bottom
        span.page-footer__copyright © 2020 — Tiffany and Bride.
        a.page-footer__privacy(href='/') Политика конфиденциальности
