.page-footer {
  border-top: 1px solid $border-color;
  padding: 45px 20px;

  @include media-min-sm {
    padding: 60px 20px 20px;
  }

  &__container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
  }

  &__top {
    display: grid;
    grid-gap: 30px;
    grid-template:
      'logo'
      'actions'
      'catalog'
      'contacts'
      'socials' / 1fr;

    @include media-min-sm {
      grid-gap: 20px;
      grid-template:
        'logo actions . .'
        '. catalog contacts socials' / 1fr 1fr 1fr 1fr;
    }

    @include media-min-md {
      grid-gap: 20px;
      grid-template: 'logo catalog contacts socials actions' / 1fr 1fr 1fr 1fr 1fr;
    }
  }

  &__logo {
    grid-area: logo;
    text-align: center;

    @include media-min-sm {
      text-align: left;
    }
  }

  &__block {
    text-align: center;

    @include media-min-sm {
      text-align: left;
    }

    &--catalog {
      grid-area: catalog;
    }

    &--contacts {
      grid-area: contacts;
    }

    &--socials {
      grid-area: socials;
    }
  }

  &__subtitle {

    font-size: 12px;
    line-height: 1.4em;
    font-weight: 500;
    letter-spacing: 0.075em;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      font-size: ms(-1);
      line-height: 1.4em;
      font-weight: 500;
      margin: 0;
      padding: 0;

      &:not(:last-child) {
        margin-bottom: 5px;
      }

      a {
        display: inline-block;
        text-decoration: none;
        position: relative;
        color: currentColor;

        &::after {
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: currentColor;
          height: 1px;
          transform: scaleX(0);
          transition: transform 0.5s $transition-timing;
          transform-origin: center right;
        }

        &:hover,
        &:focus {
          text-decoration: none;
          color: currentColor;

          &::after {
            transform: scaleX(1);
            transform-origin: center left;
          }
        }
      }
    }
  }

  &__actions {
    grid-area: actions;
    text-align: center;
  }

  &__bottom {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-min-sm {
      margin-top: 90px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__copyright {
    font-size: 12px;
    line-height: 1.4em;
    opacity: 0.5;
    display: inline-block;
    margin-bottom: 5px;

    @include media-min-sm {
      margin: 0;
    }
  }

  &__privacy {
    display: inline-block;
    transition: 250ms $transition-timing;
    font-size: 12px;
    line-height: 1.4em;
    opacity: 0.5;
    color: $text-color;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
      opacity: 1;
    }
  }
}
