.product-list {
  padding: 45px 20px;

  @include media-min-sm {
    padding: 45px 20px 90px;
  }

  &__container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.1em;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 500;

    @include media-min-sm {
      font-size: ms(2);
      margin-bottom: 45px;
    }
  }

  &__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    @include media-min-sm {
      gap: 45px 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    @include media-min-md {
      gap: 45px 20px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }
  }
}
