.contacts {

  &__map {
    width: 100%;
    height: 480px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding: 45px 20px;

    @include media-min-sm {
      padding: 90px 20px;
    }
  }

  &__container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;

    @include media-min-sm {
      display: grid;
      gap: 20px;
      grid-template:
        'intro intro'
        'get-a-call contacts' / 6fr 6fr;
    }

    @include media-min-lg {
      display: grid;
      gap: 20px;
      grid-template:
        'intro intro intro'
        'get-a-call . contacts' / 6fr 1fr 5fr;
    }
  }

  &__intro {
    grid-area: intro;
    margin-bottom: 30px;

    @include media-min-sm {
      margin-bottom: 45px;
    }
  }

  &__title {
    font-size: ms(1);
    line-height: 1.1em;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 500;

    @include media-min-sm {
      font-size: ms(2);
    }
  }

  &__desc {
    font-size: 16px;
    line-height: 1.4em;
    margin: 0;
  }

  &__get-a-call {
    grid-area: get-a-call;
    margin-bottom: 30px;

    @include media-min-sm {
      margin-bottom: 0;
    }
  }

  &__contacts {
    align-self: start;
    grid-area: contacts;
    padding: 30px 20px;
    background-color: $bg-color--shade;

    @include media-min-sm {
      padding: 45px;
    }
  }

  &__contacts-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__contacts-item {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.4em;

    span {
      color: rgba($text-color, 0.5);
    }

    a {
      display: inline-block;
      text-decoration: none;
      color: $text-color;
    }
  }

  &__contacts-item-title {
    font-size: 16px;
    line-height: 1.4em;
    opacity: 0.5;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 5px;
  }

  &__sign-up-btn {
    min-height: 60px;

    @include media-min-sm {
      width: 100%;
    }
  }
}
