mixin sign-up-modal()

  .sign-up-modal(id='sign-up-modal', style='display: none; width: 500px;')
    h2.sign-up-modal__title Оставьте заявку и мы вам перезвоним!
    form.form
      label.form__label
        span.form__input-title Имя
        span.form__input-wrap
          input.form__input(type='text', placeholder='Акакий')
      label.form__label
        span.form__input-title Телефон
        span.form__input-wrap
          input.form__input(type='text', placeholder='+7 (921) 129-95-91')
      +btn('Отправить заявку', 'ghost').form__submit.sign-up-modal__form-submit(type='submit')