.sign-up-modal {

  &__title {
    margin: 0;
    font-size: ms(1);
    line-height: 1.1em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;

    @include media-min-sm {
      font-size: ms(2);
    }
  }
}
