.menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  transition: 0.25s ease-out;
  background-color: $text-color;
  color: #fff;
  pointer-events: none;
  opacity: 0;

  @include media-min-sm {
    padding: 45px;
  }

  &__wrap {
    position: relative;
    width: 100%;
    max-width: 1340px;
    height: 100%;
    margin: 0 auto;
    padding-top: 75px;

    @include media-min-sm {
      padding-top: 0;
    }
  }

  &__close-btn {
    position: absolute;
    top: 20px;
    left: 5px;
    width: 20px;
    height: 20px;
    margin: 0;
    border: none;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: -10px;
      right: -10px;
      bottom: -10px;
      left: -10px;
    }

    @include media-min-sm {
      top: 0;
      left: 5px;
    }

    span {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 1px;
      background-color: #fff;
      transform-origin: center;

      &:first-child {
        transform: translate3d(-50%, -50%, 0) rotate(45deg);
      }

      &:last-child {
        transform: translate3d(-50%, -50%, 0) rotate(-45deg);
      }
    }
  }

  &__content {

    @include media-min-sm {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  &__container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;

    @include media-min-sm {
      display: grid;
      grid-template:
        '. main-nav . .'
        '. additional-nav . location'
        '. additional-nav . phone' / 1fr 5fr 1fr 5fr;
      gap: 20px;
    }

    @include media-min-md {
      display: grid;
      grid-template:
        '. main-nav . . .'
        '. additional-nav . location phone' / 1fr 5fr 1fr 3fr 2fr;
      gap: 20px;
    }
  }

  &__subtitle {
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
    opacity: 0.25;

    @include media-min-sm {
      margin-bottom: 15px;
    }
  }

  &__nav-section {

    &:not(:last-child) {
      margin-bottom: 20px;

      @include media-min-sm {
        margin-bottom: 5vh;
      }
    }

    &--main {
      grid-area: main-nav;
    }

    &--additional {
      grid-area: additional-nav;
    }
  }

  &__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__nav-item {
    line-height: 1em;
    font-weight: 500;
    font-size: ms(0);

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    @include media-min-sm {
      font-size: 5vh;
    }
  }

  &__nav-link {
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

    &::after {
      content: attr(data-title);
      position: absolute;
      left: 0;
      transform: translateY(125%);
      transition:
        transform 0.75s $transition-timing,
        opacity 0.25s $transition-timing;
      color: currentColor;
      will-change: transform;
      opacity: 0;
    }

    span {
      display: inline-block;
      transition:
        transform 0.75s $transition-timing,
        opacity 0.25s $transition-timing;
      will-change: transform;
      opacity: 1;
    }

    &:hover {

      &::after {
        transform: translateY(0);
        opacity: 1;
      }

      span {
        transform: translateY(-125%);
        opacity: 0;
      }
    }
  }

  &__address {
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 500;
  }

  &__contacts {

    &--location {
      grid-area: location;
      margin-bottom: 30px;

      @include media-min-sm {
        margin-bottom: 0;
      }
    }

    &--phone {
      grid-area: phone;
    }
  }

  &__contacts-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0;
      padding: 0;
      font-size: ms(-1);
      line-height: 1.4em;
      font-weight: 500;

      &:not(:last-child) {
        margin-bottom: 5px;
      }

      a {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: currentColor;

        &::after {
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          height: 1px;
          transform: scaleX(0);
          transition: transform 0.5s $transition-timing;
          background-color: currentColor;
          transform-origin: center right;
        }

        &:hover,
        &:focus {
          text-decoration: none;
          color: currentColor;

          &::after {
            transform: scaleX(1);
            transform-origin: center left;
          }
        }
      }
    }
  }

  &__socials-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    right: 20px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    list-style: none;

    @include media-min-sm {
      top: auto;
      right: auto;
      bottom: 0;
      left: 0;
      margin-top: 30px;

      &::before {
        content: '';
        position: absolute;
        bottom: calc(100% + 45px);
        width: 1px;
        height: 45px;
        background-color: $primary-color;
      }
    }

    li {
      margin: 0;
      padding: 0;

      &:not(:last-child) {
        margin-bottom: 30px;
      }

      a {
        display: block;
        color: #fff;

        svg {
          display: block;
          fill: currentColor;
        }
      }
    }
  }

  &__copyright {
    display: block;
    font-size: ms(-2);
    line-height: 1.4em;
    opacity: 0.5;
    display: none;

    @include media-min-sm {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      margin-top: 0;
    }
  }

  &--is-active {
    opacity: 1;
    pointer-events: auto;
  }
}
