.burger {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  color: currentColor;

  &::before {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
  }

  span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 30px;
    height: 1px;
    transform: translate3d(0, -50%, 0);
    background-color: currentColor;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: inherit;
    }

    &::before {
      top: -7px;
    }

    &::after {
      bottom: -7px;
    }
  }
}
