.product {
  padding: 0 20px 45px;

  @include media-min-sm {
    padding: 60px 20px 90px;
  }

  &__container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
  }

  &__card {

    @include media-min-sm {
      display: flex;
    }
  }

  &__slider {
    margin-bottom: 15px;
    width: 100%;

    @include media-min-sm {
      display: flex;
      flex: 0 0 auto;
      width: 50%;
      margin-bottom: 0;
    }
  }

  &__slider-current {

    @include media-min-sm {
      flex: 0 0 auto;
      width: calc(100% - 100px);
    }
  }

  &__slider-current-image {
    position: relative;
    height: 375px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include media-min-sm {
      height: auto;

      &::before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: (4 / 3) * 100%;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &__slider-thumbs {
    display: none;

    @include media-min-sm {
      display: block;
      flex: 0 0 auto;
      width: 80px;
      margin-right: 20px;
    }
  }

  &__slider-thumb {
    position: relative;
    cursor: pointer;

    @include media-min-sm {
      height: auto;

      &::before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: (4 / 3) * 100%;
      }

      img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__slider-progressbar {
    margin-top: 10px;

    @include media-min-sm {
      display: none;
    }
  }

  &__info {

    @include media-min-sm {
      flex: 0 0 auto;
      width: 50%;
      padding-left: 90px;
    }
  }

  &__category-name {
    font-size: ms(-1);
    line-height: 1.4em;
    display: block;
    margin-bottom: 5px;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.3em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
  }

  &__cost {
    display: flex;
    align-items: baseline;
    position: relative;
    margin-bottom: 30px;

    &::before {
      content: '';
      position: absolute;
      top: -15px;
      left: 0;
      width: 60px;
      height: 1px;
      background-color: $text-color;
    }
  }

  &__current-price {
    font-size: ms(0);
    line-height: 1.4em;
    font-weight: 500;
  }

  &__get-discount {
    display: block;
    margin-left: 30px;
    font-size: ms(-1);
    line-height: 1.4em;
    text-decoration: none;
    color: $text-color;

    svg {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      transform: translateY(-2px);
    }
  }

  &__info-list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 30px;

    li {
      position: relative;
      margin: 0;
      padding: 0;
      padding-left: 20px;
      font-size: 16px;
      line-height: 1.4em;

      &:not(:last-child) {
        margin-bottom: 5px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 9px;
        left: 0;
        width: 4px;
        height: 4px;
        border-radius: 4px;
        background-color: currentColor;
      }
    }
  }

  &__sign-up {
    justify-content: space-between;

    @include media-min-sm {
      width: 100%;
    }

    svg {
      fill: none;
      display: block;
      margin-left: 15px;
    }
  }

  &__action-note {
    display: block;
    font-size: 16px;
    line-height: 1.4em;
    margin-top: 10px;
  }
}
