.look-card {
  display: grid;
  text-decoration: none;
  background-color: #16181d;
  color: #fff;
  height: 200px;
  overflow: hidden;
  position: relative;
  z-index: 1;

  @supports ( height: clamp(200px, 40vw, 480px) ) {
    height: clamp(200px, 40vw, 480px);
  }

  &:hover,
  &:focus {

    .look-card__media {

      &::before {
        opacity: 0.5;
      }

      img {
        transform: none;
      }
    }
  }

  &__title-wrap {
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    grid-area: 1/-1;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
    padding: 15px 20px;
    background-color: rgba(#fff, 0.25);
    min-height: 68px;

    @media (min-width: $screen-sm) {
      align-self: center;
      width: calc(100% - 40px);
      min-height: 90px;
    }
  }

  &__title {
    font-size: 16px;
    line-height: 1.2em;
    margin: 0;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    word-break: keep-all;

    @supports ( font-size: clamp(14px, 2.5vw, 28px) ) {
      font-size: clamp(16px, 2.5vw, 28px);
    }
  }

  &__media {
    grid-area: 1/-1;
    position: relative;
    z-index: 1;
    min-height: 0;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #16181d;
      opacity: 0.25;
      z-index: 1;
      transition: 0.5s $transition-timing;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.05) rotate(-1deg);
      transition: 0.75s $transition-timing;
    }
  }
}
